html,
body {
  font-size: 16px;
  // font-family: $font-stack;
  height: 100%;
  margin: 0;
}

.container {
    background: #f6f8f9;
    color: #394146;
    min-height: 100vh;
    height: 100%;
    padding: 50px;
    min-height: 100vh;
    box-sizing: border-box;
}
