.container {
    margin-left: 25px;
    button {
        font-size: 12px;
        text-align: center;
        background-color: #20b5e1;
        color: white;
        height: 40px;
        border-radius: 4px;
        width: 145px;
        border: none;
        margin-top: 8px
    }
}