.item {
    display: flex;
    padding: 10px 20px;
    background-color: #ededed;
    border-top: 1px solid #f6f8f9
}

.title {
    font-size: 1.1em;
    color: #0F7FA0;
}

$font-size: 16px;
$line-height: 1.15;
$lines-to-show: 3;

.description {
    color: #596268;
    display: block; /* Fallback for non-webkit */
    display: -webkit-box;
    height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    font-size: $font-size;
    line-height: $line-height;
    -webkit-line-clamp: $lines-to-show;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 10px 0;
}

.details {
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    div {
        display: inline-block;
    }
}

.photo {
    flex: 1;
    min-width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.textbox {
    flex: 5;
    margin-right: 15px;
}