.add {
    color: red;
    height: 174px;
    width: 174px;
    border-radius: 4px;
    text-align: center;
    background: white;
    a {
        text-decoration: none;
        line-height: 174px;
        font-size: 100px;
        color: #394146;
        margin: 0 auto;
    }
}